.App {
  text-align: center;
}

a.navbar-brand {
  margin-left: 15px;
}

.navbar {
  border-bottom: solid 1px black;
}

div#login-container.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(237, 216, 174, 0.8);
  height: 60vh;
  width: 550px;
  min-height: 360px;
  border: 1px solid rgba(237, 216, 174, 0.066);
  border-radius: 25px;
}

div#background-image {
  background: url("../src/assets/turntable2.jpg") no-repeat;
  padding-top: 75px;
  height: 100vh;
}

p#register-link {
  margin-top: 10px;
}

a#register-here {
  padding: 5px;
}

div#register-container.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(237, 216, 174, 0.8);
  height: 70vh;
  width: 550px;
  min-height: 360px;
  border: 1px solid rgba(237, 216, 174, 0.066);
  border-radius: 25px;
}

form#register {
  width: 50%;
}

footer {
  padding: 15px;
  background-color: black;
  color: white;
  font-weight: 300;
  justify-content: center;
}

button.btn.btn-primary {
  background-color: black;
}
